<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>server name:</label>
            <input type="text" class="form-control" (input)="onUpdateServerName($event)">
            <button class="btn btn-primary" (click)="onCreateServer()">create server</button>
            <p *ngIf="severCreated; else noServer">Server is created. Server name is {{serverName}}</p>
            <ng-template #noServer>
                <p app-simple-style>no server is created</p>
            </ng-template>
        </div>
    </div>
</div>
