<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>SignUp form</h2> 
            <form [formGroup] = "form">
                <div class="row">
                    <div class="col-md-4">
                        <label for="fullName">
                            Name
                        </label>
                        <input type="text" formControlName="fullName" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="email">
                            email
                        </label>
                        <input type="text" formControlName="email" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="password">
                            password
                        </label>
                        <input type="text" formControlName="fullName" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="confirmPassword">
                            confirm Password
                        </label>
                        <input type="text" formControlName="confirmPassword" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-save">save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
